* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: #111827;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #38bdf8;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #38bdf8;
}